body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0 20px;
}

.form-container {
  background: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  width: 100%;
}

h2, h3 {
  text-align: center;
  color: #ff3366;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

input, textarea {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  font-family: Arial, sans-serif; 
}

textarea {
  resize: vertical; 
  width: 100%;
  min-height: 100px;
  max-height: 300px;
  padding: 10px;
  box-sizing: border-box;
}

input::placeholder,
textarea::placeholder {
  color: #888; 
  font-size: 14px; 
  font-style: normal; 
  font-family: Arial, sans-serif; 
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}

.required {
  color: red;
  font-size: 14px;
  margin-left: 5px;
}
